ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	position: fixed;
	bottom: 0;
	width: 100%;
}

li a {
	display: inline-block;
	color: #666;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	padding: 10px;
}

li a:hover {
	text-decoration: underline;
}

li {

	display: inline-block;
	float: left;
	padding: 0;
}

#footright {
	float:right;
	padding-right: 50px;
}

.searchbutton, .luckybutton {
	border: none;
	font-weight: bold;
	color: #6b6b47;
	margin: 30px 15px 15px 0;
	padding: 10px;
}


